<div class="container text-center">
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, neque, facilis, ad iusto quisquam voluptatem deleniti culpa amet aspernatur nesciunt magnam ab minima dolores quae incidunt ullam ea rerum aliquid.</p>
</div>